$maincolor: white;
$secondcolor: #F8F9FA;
$transbg: rgb(221, 215, 236, 0.9);
$colorpop:  #BC9797;


body {
  margin: 0;
}

.btn {
  background-color: $colorpop;
}
.navbar {
  background-color: $maincolor;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-top: -20px;
  padding-top: 30px;
}

#signedbooks {
  padding: 0;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    align-content: center;
  }
}

.carousel-caption {
  background-color: $transbg;
  color: black;
  padding-left: 10px;
}

#events {
  background-color: $transbg;
  color: black;
}

.carousel-item img {
  -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
  filter: grayscale(30%);
}

#signedbooks {
  background-color: $maincolor;
}

.bd-example {
  padding-top: 50px;
}

.main-text {
  color: white;
}

#email {
  background-color: $secondcolor;
}

footer {
  background-color: $secondcolor;
}