$maincolor: white;
$secondcolor: #F8F9FA;

body {
  margin: 0;
}

.navbar {
  background-color: $maincolor;
  color: black;
  a {
    text-decoration: none;
  }
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-top: -20px;
  padding-top: 30px;
}

#signedbooks {
  padding: 0;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    align-content: center;
  }
}

#signedbooks {
  background-color: $maincolor;
}

.bd-example {
  padding-top: 50px;
}

.main-text {
  color: white;
}

#email {
  background-color: $secondcolor;
}

footer {
  background-color: $secondcolor;
}